language: go

go:
- 1.11.x

env:
  global:
  - REPO_OWNER=guangie88
  - REPO_NAME=terraform-provider-smallutil

matrix:
  include:
{%- for v in c %}
    - env:
      - GOOS="{{ v.goos }}"
      - GOARCH="{{ v.goarch }}"
      - LDFLAGS="{{ v.ldflags }}"
{%- endfor %}
  
script:
- go test ./...
- env GOOS=${GOOS} GOARCH=${GOARCH} go build -v -ldflags "${LDFLAGS}"
- zip -j ${REPO_NAME}_${GOOS}_${GOARCH}.zip ${REPO_NAME}

deploy:
  provider: releases
  api_key: "${GITHUB_TOKEN}"
  file: "${REPO_NAME}_${GOOS}_${GOARCH}.zip"
  skip_cleanup: true
  on:
    tags: true

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+(-\S*)?$/
