language: go

go:
- 1.11.x

env:
  global:
  - REPO_OWNER=guangie88
  - REPO_NAME=terraform-provider-smallutil

matrix:
  include:
{%- for v in c %}
    - env:
      - GOOS="{{ v.goos }}"
      - GOARCH="{{ v.goarch }}"
      - LDFLAGS="{{ v.ldflags }}"
{%- endfor %}
  
script:
- env GOOS=${GOOS} GOARCH=${GOARCH} go build -v -ldflags "${LDFLAGS}"
- mv ${REPO_NAME} ${REPO_NAME}_${GOOS}_${GOARCH}
# - |-
#   ghr -t ${GITHUB_TOKEN} -u ${REPO_OWNER} -r ${REPO_NAME} \
#   -c ${CF_REVISION} -replace ${TAG_NAME} ltrigger.zip

branches:
  only:
  - master
