language: go

go:
- 1.11.x

env:
  global:
  - REPO_OWNER=guangie88
  - REPO_NAME=terraform-provider-smallutil

matrix:
  fast_finish: true
  include:
  # Do not use GOOS and GOARCH because Travis will reinitialize these env vars
  # when bootstrapping Golang set-up
{%- for v in c %}
  - env:
    - goos={{ v.goos }}
    - goarch={{ v.goarch }}
    - ldflags="{{ v.ldflags }}"
{%- endfor %}

script:
- printf -- "--------\n${goos}_${goarch} (ldflag \"${ldflags}\")\n--------\n"
- go test ./...
- env goos=${goos} goarch=${goarch} go build -v -ldflags "${ldflags}"
- zip -j ${REPO_NAME}_${goos}_${goarch}.zip ${REPO_NAME}

deploy:
  provider: releases
  api_key: "${GITHUB_TOKEN}"
  file: "${REPO_NAME}_${goos}_${goarch}.zip"
  skip_cleanup: true
  on:
    tags: true

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+(-\S*)?$/
